<div class="row">
    <div class="col-lg-12 home_content">
        <% unless (content = AppSetting.settings.home_content).nil? %>
          <%= content.html_safe %>
        <% end %>
    </div>
</div>
