<p><%= t('.hello_line', :email => @resource.email) %></p>

<p><%= t('.you_can_confirm_line') %></p>

<p><%= link_to t('.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
